.close-user-account{
    width: 100%;
}
.close-user-account-container{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.close-user-account-contents{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 48px;
}
.close-user-account-contents p{
    font-size: 16px;
    color: #121212;
    font-weight: 500;
    font-family: var(--p-font);
    line-height: 150%;
}
.close-user-account-contents button{
    width: max-content;
    height: max-content;
    padding: 6px 16px;
    font-size: 16px;
    color: #f8f8ff;
    border: 2px solid #121212;
    border-radius: 8px;
    background-color: #121212;
    font-weight: 500;
    font-family: var(--p-font);
}
.close-user-account-contents button:hover{
    background-color: inherit;
    color: #121212;
}