.landing-hero-section {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-hero-container{
  width: 85%;
  display: flex;
  gap: 2rem;
}
.landing-hero-contents {
  width:50%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.landing-hero-heading,
.landing-hero-paragraph {
  display: flex;
}
.landing-hero-heading h1 {
  font-size: 56px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black);
  line-height: 150%;
}
.landing-hero-paragraph p {
  width: 90%;
  font-size: 20px;
  font-family: var(--p-font);
  font-weight: 400;
  line-height: 170%;
  color: var(--p-black);
}
.landing-hero-explore-btn {
  margin-top: 6px;
  padding: 12px 32px;
  background-color: var(--trafy-blue);
  border: 2px solid var(--trafy-blue);
  border-radius: 8px;
  color: var(--h-white);
  font-family: var(--h-font);
  font-weight: 500;
  font-size: 18px;
  opacity: 1;
  transition: 0.4s;
}
.landing-hero-explore-btn:hover {
  background-color: #2034c5;}
.landing-hero-image{
  width:50%;
}
.landing-hero-image img{
  width:100%;
  height:100%;
}
@media only screen and (max-width: 1201px){
  .landing-hero-heading h1{
    font-size: 48px;
    line-height: 130%;
  }
  .landing-hero-heading p{
    font-size: 18px;
    line-height: 150%;
  }
  .landing-hero-contents{
    padding-top: 100px;
  }
 
}
@media only screen and (max-width: 1024px) {
  .landing-hero-container{
    gap: 0;
  }
  .landing-hero-section {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .landing-hero-contents {
    gap: 1rem;
  }
  .landing-hero-explore-btn,
  .landing-hero-explore-btn:hover {
    font-size: 16px;
  }
  .landing-hero-container{
    flex-direction: column;
  }
  .landing-hero-contents,.landing-hero-image{
    width: 100%;
  }
  .landing-hero-contents{
    align-items: center;
  }
  .landing-hero-heading h1,.landing-hero-paragraph p{
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .landing-hero-container{
    flex-direction: column;
  }
  .landing-hero-contents,.landing-hero-image{
    width: 100%;
  }
  .landing-hero-contents{
    align-items: center;
  }
  .landing-hero-heading h1,.landing-hero-paragraph p{
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .landing-hero-contents {
    gap: 1.2rem;
    padding-top: 0px;
  }
  .landing-hero-section {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .landing-hero-paragraph p {
    font-size: 18px;
    width: 100%;
  }
  .landing-hero-heading h1 {
    font-size: 40px;
    width: 100%;
  }
  .landing-hero-explore-btn {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .landing-hero-container{
    gap: 1.5rem;
  }
  .landing-hero-heading h1 {
    font-size: 32px;
  }
  .landing-hero-paragraph p {
    font-size: 16px;
  }
  .landing-hero-explore-btn {
    padding: 12px 32px;
    margin-top: 6px;
  }
}

/* -----------------------------------------------------Partners Section---------------------------------------- */
.landing-partners-container {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  overflow-x: hidden;
}

.landing-partners-container::before,
.landing-partners-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  pointer-masterclass: none;
  z-index: 1;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.landing-partners-container::before {
  left: 0;
}

.landing-partners-container::after {
  right: 0;
  transform: rotateY(180deg);
}
.landing-partners {
  padding: 80px 0px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--trafy-white);
  overflow-x: hidden;
}
.landing-partners-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  overflow-x: hidden;
}

.landing-partners-heading p {
  font-size: 20px;
  font-family: var(--p-font);
  font-weight: 400;
  line-height: 150%;
  color: var(--p-black);
  text-align: center;
}

.landing-partners-logo-container {
  /* width: 90%; */
  display: flex;
  overflow: hidden;
  padding-top: 24px;
  white-space: nowrap;
}
.landing-partners-logo {
  display: flex;
  animation: 25s slide infinite linear;
}
.landing-partners-logo img {
  margin: 0px 24px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1024px) {
  .landing-partners {
    padding: 100px 0px;
    padding-top: 40px;
  }
  .landing-partners-container{
    gap:1.5rem;
  }
  .landing-partners-heading p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  .landing-partners{
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .landing-partners-container {
    width: 90%;
    gap: 1.5rem;
  }
  .landing-partners-logo img {
    margin: 0px 16px;
  }
}
@media only screen and (max-width: 400px) {
  .landing-partners {
    padding: 50px 0px;
    padding-top: 20px;
  }
  .landing-partners-container {
    gap: 1rem;
  }
  .landing-partners-heading p {
    font-size: 16px;
  }
}


/* ----------------------------------------------------------Pathway section----------------------------------------- */

.landing-pathway {
  padding: 60px 0px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--trafy-white);
}
.landing-pathway-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}
.landing-pathway-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.landing-pathway-heading h2 {
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black);
  text-align: center;
}
.landing-pathway-heading p {
  font-size: 18px;
  font-family: var(--p-font);
  text-align: center;
  font-weight: 400;
  color: #575656;
  background-color: #f9f9f9;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #b0b0b0;
}
.landing-pathway-contents {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}
.landing-pathway-box {
  width: 335px;
  height:335px;
  padding:24px;
  padding-bottom:16px;
  border: 1px solid var(--box-border);
  border-radius: 8px;
  background-color: var(--trafy-white);
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}
.landing-pathway-box:hover{
  border: 1px solid rgb(160, 159, 159);
}
.landing-pathway-box-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pathway-image-wrapper {
  width: 50px;
  height:50px;
  border-radius: 8px;
  padding: 4px 8px;
  border:1px solid var(--box-border);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pathway-image-wrapper img {
  width: 100%;
  height: max-content;
}

.landing-pathway-box h3 {
  font-size: 24px;
  font-family: var(--p-font);
  color: var(--h-black);
  font-weight: 500;
  line-height:140%;
}
.landing-pathway-box p {
  font-size: 16px;
  font-family: var(--p-font);
  color: var(--p-black);
  font-weight: 400;
  line-height:150%;
}
.landing-pathway-box-contents-bottom{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}
.landing-pathway-box-contents-bottom p{
  display: flex;
  align-items: center;
  gap:0.5rem;
  font-size: 14px;
  font-family: var(--p-font);
  color:#5c5c5c;
  font-weight:500;
}
.landing-pathway-box-contents-bottom span{
  width:max-content;
  height:max-content;
  padding:10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--trafy-blue);
  border-radius: 8px;
  font-size:14px;
  font-family:var(--p-font);
  color:var(--h-white);
  font-weight:500;
}
.landing-pathway-box-contents-bottom span:hover{
  background-color: #2034c5;
}
@media only screen and (max-width: 1024px) {
  .landing-pathway {
    padding-bottom: 100px;
    padding-top: 10px;
  }
  .landing-pathway-container {
    width: 90%;
    gap: 2.5rem;
  }
  .landing-pathway-heading h2 {
    font-size: 40px;
  }
  .landing-pathway-contents {
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
  }
  .landing-pathway-box h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .landing-pathway{
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .landing-pathway-heading h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 400px) {
  .landing-pathway {
    padding: 20px 0px;
    padding-bottom: 50px;
  }
  .landing-pathway-container{
    gap:2rem;
  }
  .landing-pathway-heading h2 {
    font-size: 28px;
  }
  .landing-pathway-contents{
    gap:1rem;
  }
  .landing-pathway-box{
    width:280px;
    height:280px;
    padding:16px;
  }
  .landing-pathway-box h3 {
    font-size: 20px;
  }
  .landing-pathway-box p{
    font-size:14px;
  }
  .landing-pathway-box-contents-bottom p{
    font-size:12px;
  }
  .pathway-image-wrapper {
    width: 40px;
    height: 40px;
    padding: 4px 5px;
}

 
}


/* -----------------------------------------------Landing masterclass---------------------------------- */


.landing-masterclass{
  padding: 60px 0px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-masterclass-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}
.landing-masterclass-heading h2{
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black); 
  line-height:140%;
}
.landing-masterclass-contents{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:2.5rem;
}
.landing-masterclass-card{
  width: 329px;
  height:max-content;
  display:flex;
  flex-direction: column;
  border:1px solid var(--box-border);
  border-radius: 8px;
  background-color: var(--trafy-white);
}
.landing-masterclass-card:hover{
  border:1px solid  rgb(160, 159, 159);
}
.masterclass-image-wrapper{
  width:100%;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.masterclass-main-img{
  width:max-content;
  height:100%;
}
.masterclass-share-img{
  position: absolute;
  top: 15px;
  right: 15px;
  width:24px;
  height:24px;
}
.masterclass-card-content{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  padding: 16px 18px;
  padding-top: 0px;
}
.masterclass-card-content h3{
  font-size: 24px;
  font-family: var(--h-font);
  color: var(--h-black);
  font-weight: 600;
  line-height: 140%;
}
.masterclass-card-content p{
  font-size: 16px;
  font-family: var(--p-font);
  color: var(--p-black);
  font-weight: 400;
  line-height:150%;
  padding:8px 0px;
}
.masterclass-card-content .date{
  font-size: 12px;
  font-family:var(--p-font);
  color: #535353;
  font-weight: 400;
}

@media only screen and (max-width:1024px){
  .landing-masterclass{
    padding-top: 10px;
    padding-bottom: 100px;
  }
  .landing-masterclass-container{
    width:90%;
    gap:2.5rem;
  }
  .landing-masterclass-contents{
    gap:1.5rem;
  }
  .landing-masterclass-heading h2{
    font-size:40px;
  }
}
@media only screen and (max-width:600px){
  .landing-masterclass{
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .landing-masterclass-container{
    gap:2rem;
  }
  .landing-masterclass-heading h2{
    font-size:32px;
  }
  .landing-masterclass-container{
    justify-content: center;
    align-items: center;
  }
 
}
@media only screen and (max-width:400px){
  .landing-masterclass{
    padding-top:20px;
    padding-bottom: 50px;
  }
  .landing-masterclass-heading h2{
    font-size:28px;
  }
  .landing-masterclass-card{
    width:280px;
  }
  .masterclass-card-content h3{
    font-size: 20px;
  }
  .masterclass-card-content p{
    font-size: 14px;
  }
}
/* --------------------------------------------------Landing Accordion--------------------------------- */

/* .landing-accordion{
  padding: 90px 0px;
  display: flex;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-accordion-container{
  width: 85%;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
.landing-accordion-left{
  width:40%;
  display:flex;
  flex-direction: column;
  gap:1rem;
}
.landing-accordion-left h2{
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black);
  line-height:140%;
}
.landing-accordion-left p{
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
}
.landing-accordion-right{
  width:50%;
  display:flex;
  flex-direction: column;
}
.landing-accordion-box{
  padding: 18px 2px;
  padding-bottom:8px;
  border-bottom: 1px solid var(--box-border);
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}
.landing-accordion-box h3{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-black);
  line-height:140%;
}
.landing-accordion-show{
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}
.landing-accordion-show p{
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height:150%;
}
.landing-accordion-show ul{
  list-style-type: none;
  display:flex;
  flex-direction:column;
  gap:0.2rem;
}
.landing-accordion-show li{
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height:150%;
}

.rotate {
  transition: transform 0.3s;
  transform: rotate(90deg);
} */

.landing-accordion {
  padding: 80px 0px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-accordion-container {
  width: 85%;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
.landing-accordion-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.landing-accordion-left h2 {
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black);
  line-height: 140%;
}
.landing-accordion-left p {
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
}
.landing-accordion-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.landing-accordion-box {
  padding: 18px 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--box-border);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.landing-accordion-box.expanded {
  background-color: #eff5fb; /* pastel blue */
  border-radius: 8px;
  padding:18px;
  margin-top:4px;
}

.landing-accordion-box h3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-black);
  line-height: 140%;
}
.landing-accordion-show {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.landing-accordion-show.expanded {
  max-height: 500px; /* adjust as needed */
  padding-bottom: 10px;
  padding-right: 18px;
}
.landing-accordion-show p {
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
}
.landing-accordion-show ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.landing-accordion-show li {
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
}
.rotate {
  transition: transform 0.3s;
  transform: rotate(0deg);
}
.rotate-180 {
  transform: rotate(90deg);
}




@media only screen and (max-width:1024px){
  .landing-accordion{
    padding-top:10px;
    padding-bottom: 100px;
  }
  .landing-accordion-container{
    width:90%;
  }
}
@media only screen and (max-width:850px){
  .landing-accordion-container{
    flex-direction: column;
    gap:1.5rem;
  }
  .landing-accordion-left,.landing-accordion-right{
    width:100%;
  }
}
@media only screen and (max-width:600px){
  .landing-accordion{
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .landing-accordion-left h2{
    font-size: 32px;
    text-align: center;
  }
  .landing-accordion-left p{
    font-size: 16px;
    text-align: center;
  }
}
@media only screen and (max-width:400px){
  .landing-accordion{
    padding-top:20px;
    padding-bottom: 50px;
  }
  .landing-accordion-left h2{
    font-size:28px;
  }
  .landing-accordion-box h3{
    font-size: 18px;
  }
  .landing-accordion-container{
    gap:1rem;
  }
}

/* --------------------------------------------------review section----------------------------------------- */

.landing-review {
  padding: 60px 0px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-review-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.landing-review-top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.landing-review-top h2 {
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black);
  text-align: center;
}
.landing-review-bottom-container {
  padding: 4px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  /* white-space: nowrap; */
  gap: 2.5rem;
  overflow-x: hidden;
}
.landing-review-bottom {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  animation: 32s carousel infinite linear;
}
.landing-review-bottom-container:hover .landing-review-bottom {
  animation-play-state: paused;
}
.landing-review-card {
  padding: 24px;
  width: 260px;
  height: 290px;
  border: 1px solid var(--box-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.landing-reviews {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.landing-reviews p {
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
}
.landing-review-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.landing-review-name p {
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 500;
  color: var(--p-black);
  line-height: 150%;
}
.landing-review-name a {
  font-size: 12px;
  font-family: var(--p-font);
  font-weight: 400;
  color: #5022c3;
  line-height: 150%;
  display: flex;
  align-items: center;
}

.landing-review-navigation-right {
  position: absolute;
  right: 0;
}
.landing-review-navigation-left {
  position: absolute;
  left: 0;
}
.slide-button {
  padding: 6px 8px;
  border-radius: 100%;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.indicator-container {
  display: none;
}
.landing-review-card {
  transition: transform 0.5s ease;
}

.slide-next {
  transform: translateX(-100%);
}

.slide-prev {
  transform: translateX(100%);
}
@media only screen and (max-width: 1024px) {
  .landing-review {
    padding: 70px 0px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  .indicator-container {
    display: flex;
  }
}

.indicator-dot {
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator-dot.active {
  background-color: #b5b2b9;
}
@keyframes carousel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1200px) {
  .landing-review-bottom {
    gap: 2rem;
  }
  .landing-review-card {
    padding: 24px;
    /* width: 260px;
        height: 340px; */
  }
}
@media only screen and (max-width: 1024px) {
  .landing-review-container {
    width: 90%;
    gap: 3rem;
  }
  .landing-review-top h2 {
    font-size: 40px;
  }
  .landing-review-bottom {
    gap: 1.5rem;
  }
  .landing-reviews p,
  .landing-review-name p {
    font-size: 16px;
  }
  .landing-review-card {
    padding: 16px;
    width: 230px;
    height: 290px;
  }
}
@media only screen and (max-width: 600px) {
  /* .landing-review{
        padding: 40px 0px;
    } */
    .landing-review{
      padding-top: 20px;
      padding-bottom: 60px;
    }
  .landing-review-top h2 {
    font-size: 32px;
  }
  .landing-review-navigation-right,
  .landing-review-navigation-left {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .landing-review {
    padding: 50px 0px;
    padding-top: 20px;
  }
  .landing-review-container {
    gap: 2rem;
  }
  .landing-review-top h2 {
    font-size: 28px;
  }
  .landing-review-bottom-container {
    /* overflow:visible; */
  }
}

/* ------------------------------------------------Landing Ai------------------------------------ */

.landing-bento{
  padding-top:60px;
  display: flex;
  flex-direction: column;
  gap:3rem;
  justify-content: center;
  align-items:center;
  background-color: var(--trafy-white);
}
.landing-bento-heading{
  width:60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.landing-bento-heading h2{
  width:60%;
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black); 
  line-height:140%;
  text-align: center;
}
.landing-bento-heading p{
  width:60%;
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black); 
  line-height:150%;
  text-align: center;
}
.landing-bento-container{
  width:85%;
  display: flex;
  gap:1.5rem;
}
.landing-ai-container {
  width: 60%;
  padding: 65px 56px;
    display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #F8F1F6;
  border-radius: 8px;
  justify-content: center;
}
.landing-ai-left h2 {
  font-size: 28px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black); 
  line-height:140%;
}
.landing-ai-right{
  display:flex;
  flex-direction: column;
  gap:1.5rem;
}
.landing-ai-right p{
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height:150%;
}
.landing-ai-right input{
  width:100%;
  height:40px;
  padding:10px 16px;
  border: 1px solid #acaaaa;
  border-radius: 8px;
  background-color: inherit;
  font-size:14px;
  font-family: var(--p-font);
}
.landing-ai-right button {
  width:max-content;
  height: max-content;
  padding: 10px 16px;
  border: 1px solid var(--h-black);
  border-radius: 8px;
  background-color: var(--h-black);
  font-size: 14px;
  font-family: var(--p-font);
  font-weight: 500;
  color: var(--h-white);
}
.landing-ai-container button:hover {
  background-color: inherit;
  color:  var(--h-black);
}
.landing-features-container {
  width: 50%;
  padding: 65px 56px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #f1f1f8;
  border-radius: 8px;
  justify-content: center;
}
.landing-features-heading h2 {
  font-size: 28px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black); 
  line-height:140%;
}
.landing-features-contents{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:1rem;
}
.landing-features-box{
  display:flex;
  flex-direction: column;
  gap:0.5rem;
}
.landing-features-box h3{
  font-size:24px;
  font-weight: 600;
  font-family: var(--h-font);
  color:var(--h-black);
}
.landing-features-box p{
  font-size:14px;
  font-weight: 400;
  font-family: var(--p-font);
  color:var(--p-black);
}
@media only screen and (max-width:1201px){
  .landing-ai-container, .landing-features-container{
    padding:56px 48px;
  }
  .landing-ai-right{
    gap:1rem;
  }
  .landing-features-container{
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 1024px) {
  .landing-bento{
    padding-top:10px;
  }
  .landing-bento-container{
    width:90%;
  }
  .landing-bento-heading{
    width:90%;
  }
  .landing-ai-container {
    width: 50%;
  }
  .landing-features-container {
    width: 50%;
  }
  .landing-features-contents{
    gap:2rem;
  }
}
@media only screen and (max-width: 800px){
  .landing-bento-container{
    flex-direction: column;
  }
  .landing-ai-container, .landing-features-container{
    width: 100%;
    padding: 48px 32px;
  }
  .landing-features-contents{
    gap:2rem;
  }
  .landing-features-heading h2{
    font-size:28px;
  }
}

@media only screen and (max-width: 600px) {
  .landing-bento{
    padding-top: 20px;
  }
  .landing-ai-container{
    flex-direction: column;
    gap:1rem;
    padding: 40px 32px;
  }
  .landing-ai-left h2,.landing-features-heading h2{
    font-size:24px;
  }
  .landing-bento-heading h2{
    font-size: 32px;
    width:90%;
  }
  .landing-bento-heading p{
    font-size: 16px;
    width:90%;
  }
}
@media only screen and (max-width: 400px) {
  .landing-bento{
    padding-top: 20px;
    gap:2rem;
  }
  .landing-bento-heading h2{
    font-size: 28px;
    width:100%;
  }
  .landing-bento-heading p{
    font-size: 16px;
    width:100%;
  }
  .landing-ai-container, .landing-features-container{
    padding:32px
  }
  .landing-ai-left h2{
    font-size:24px;
}
.landing-features-box h3{
  font-size: 22px;
}
}


/* ----------------------------------------Landing Better----------------------------------- */
.landing-better{
  padding: 20px 0px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-better-container{
  width:85%;
  display: flex;
  gap:2.5rem;
  padding: 56px 48px;
  background-color: #F1F8F2;
  border-radius: 8px;
}
.landing-better-left{
  width: 100%;
  display:flex;
  flex-direction: column;
  gap:0.5rem;
}
.landing-better-left h2{
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black);
}
.landing-better-left p{
  width:80%;
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height:150%;
}
.landing-better-right{
  width: 100%;
  padding-top:18px;
  display:grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,max-content);
  gap: 1.5rem;
  align-items:center;
}
.landing-better-image-b img{
  width:80%;
  height:max-content;
}
@media only screen and (max-width:1024px){
  .landing-better{
    padding-bottom: 100px;
  }
  .landing-better-container{
    width:90%;
  }
}
@media only screen and (max-width:900px){
  .landing-better-container{
    flex-direction: column;
    gap:2rem;
    align-items: center;
  }


  .landing-better-left h2,.landing-better-left P{
    text-align: center;
  }
  .landing-better-right{
    width: 100%;
    justify-content: center;
    justify-items: center;
    gap:2.2rem;
  }
}
@media only screen and (max-width:600px){
  .landing-better{
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .landing-better-container{
    gap:1rem;
  }
  .landing-better-left h2{
    font-size: 32px;
    width: 100%;
    text-align: center;

  }
  .landing-better-left p{
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
  .landing-better-right{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap:1rem;
    row-gap:1rem;
  }
  
}
@media only screen and (max-width:400px){
  .landing-better{
    padding-top:20px;
    padding-bottom: 50px;
  }
  .landing-better-left{
    gap:1rem;
  }
  .landing-better-left h2{
    font-size:28px;
  }
  .landing-better-image-b img{
    width:80%;
    height: max-content;
  }
}