.landing-hero-section {
  padding-top: 160px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap:4rem;
  align-items: center;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-hero-container{
  width: 85%;
  display: flex;
  gap: 2rem;
}
.landing-hero-contents {
  width:60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.landing-hero-heading,
.landing-hero-paragraph {
  display: flex;
}
.landing-hero-heading h1 {
  font-size: 56px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black);
  line-height: 150%;
}
.landing-hero-paragraph p {
  width: 90%;
  font-size: 20px;
  font-family: var(--p-font);
  font-weight: 400;
  line-height: 170%;
  color: var(--p-black);
}
.landing-hero-explore-btn {
  margin-top: 6px;
  padding: 12px 32px;
  background-color: var(--trafy-black);
  border: 2px solid var(--trafy-black);
  border-radius: 8px;
  color: var(--h-white);
  font-family: var(--h-font);
  font-weight: 500;
  font-size: 18px;
}
.landing-hero-explore-btn:hover {
  background-color: inherit;
  color: var(--h-black);
}
.landing-hero-bottom-container{
  width: 85%;
  display: flex;
  gap: 2rem;
}
.landing-hero-bottom-left{
  width:70%;
  padding: 56px 32px;
  border:1px solid #D5D0D0;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
  background: rgb(255,49,49);
  background: linear-gradient(148deg, rgba(255,49,49,1) 0%, rgba(246,4,142,1) 100%);  
}
.landing-hero-bottom-left h3{
  width:85%;
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-white);
  line-height: 150%;
}
.landing-hero-bottom-right{
  width:30%;
  padding:56px 32px;
  border:1px solid #D5D0D0;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
  background-color: #FFEFF8; 
}
.landing-hero-bottom-right h3{
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-black);
  line-height: 150%;
}

@media only screen and (max-width: 1201px){
  .landing-hero-bottom-right,.landing-hero-bottom-left{
    gap:5rem;
  }
  .landing-hero-bottom-right{
    width:40%;
  }
  .landing-hero-bottom-left h3{
    width: 100%;
  }
 
}
@media only screen and (max-width: 1024px) {
  .landing-hero-section{
    gap:3rem;
    padding-top: 140px;
    padding-bottom: 60px;
  }
  .landing-hero-contents{
    width:80%;
  }
  .landing-hero-heading h1{
    font-size: 48px;
  }
  .landing-hero-bottom-left h3{
    width: 100%;
  }
  .landing-hero-bottom-left h3, .landing-hero-bottom-right h3{
    font-size: 28px;
  }
  .landing-hero-bottom-left img{
    width:40px;
    height:40px;
  }
  .landing-hero-bottom-right img{
    width:48px;
    height:48px;
  }
}
@media only screen and (max-width: 800px) {
  .landing-hero-bottom-container{
    flex-direction: column;
  }
  .landing-hero-bottom-left, .landing-hero-bottom-right {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .landing-hero-section{
    padding-top: 110px;
  }
  .landing-hero-contents{
    width: 100%;
  }
  .landing-hero-heading h1{
    font-size: 40px;
  }
  .landing-hero-paragraph p{
    font-size: 18px;
  }
  .landing-hero-bottom-left, .landing-hero-bottom-right {
    padding: 40px 32px;
  }
  .landing-hero-bottom-left h3, .landing-hero-bottom-right h3 {
    font-size: 24px;
}
}
@media only screen and (max-width: 400px) {
  .landing-hero-section{
    padding-top:100px;
    padding-bottom:50px;
  }
  .landing-hero-bottom-container{
    gap:1.5rem;
  }
  .landing-hero-section {
    gap: 2.5rem;
}
  .landing-hero-heading h1 {
    font-size: 36px;
}
.landing-hero-paragraph p {
  width:100%;
  font-size: 16px;
}
}

/* -----------------------------------------------------Partners Section---------------------------------------- */
.landing-partners-container {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  overflow-x: hidden;
}

.landing-partners-container::before,
.landing-partners-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  pointer-masterclass: none;
  z-index: 1;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.landing-partners-container::before {
  left: 0;
}

.landing-partners-container::after {
  right: 0;
  transform: rotateY(180deg);
}
.landing-partners {
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--trafy-white);
  overflow-x: hidden;
}
.landing-partners-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  overflow-x: hidden;
}

.landing-partners-heading p {
  font-size: 20px;
  font-family: var(--p-font);
  font-weight: 400;
  line-height: 150%;
  color: var(--p-black);
  text-align: center;
}

.landing-partners-logo-container {
  /* width: 90%; */
  display: flex;
  overflow: hidden;
  padding-top: 24px;
  white-space: nowrap;
}
.landing-partners-logo {
  display: flex;
  animation: 25s slide infinite linear;
}
.landing-partners-logo img {
  margin: 0px 24px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1024px) {
  .landing-partners {
    padding: 60px 0px;
  }
  .landing-partners-container{
    gap:1.5rem;
  }
  .landing-partners-heading p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  
  .landing-partners-container {
    width: 90%;
    gap: 1.5rem;
  }
  .landing-partners-logo img {
    margin: 0px 16px;
  }
}
@media only screen and (max-width: 400px) {
  .landing-partners {
    padding: 50px 0px;
  }
  .landing-partners-container {
    gap: 1rem;
  }
  .landing-partners-heading p {
    font-size: 16px;
  }
}


/* ----------------------------------------------------------Pathway section----------------------------------------- */

.landing-pathway {
  padding: 80px 0px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--trafy-white);
}
.landing-pathway-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
}
.landing-pathway-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.landing-pathway-heading h2 {
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black);
  text-align: center;
}
.landing-pathway-heading p {
  width:70%;
  font-size: 20px;
  font-family: var(--p-font);
  text-align: center;
  font-weight: 400;
  color:var(--p-black);
  line-height: 160%;
}
.landing-pathway-contents {
  /* display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center; */
  width:100%;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(1,minmax(150px,390px));
  gap: 2.5rem;
}
.landing-pathway-box {
  /* width: 335px;
  height:335px; */
  padding:48px 28px;
  border: 1px solid var(--box-border);
  border-radius: 24px;
  background-color: var(--trafy-white);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:1.5rem;
}
.landing-pathway-box:hover{
  border: 1px solid rgb(160, 159, 159);
}
.landing-pathway-box-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pathway-image-wrapper {
  width: 60px;
  height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pathway-image-wrapper img {
  width: 100%;
  height: max-content;
}

.landing-pathway-box h3 {
  font-size: 32px;
  font-family: var(--p-font);
  color: var(--h-black);
  font-weight: 500;
  line-height:140%;
}
.landing-pathway-box p {
  font-size: 16px;
  font-family: var(--p-font);
  color: var(--p-black);
  font-weight: 400;
  line-height:150%;
  padding:3px 8px;
  border:1px solid #B4B4B4;
  border-radius:8px;
  width:max-content;
  display:flex;
  align-items:center;
  gap:0.5rem;
}
.landing-pathway-box-contents-bottom{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}
.landing-pathway-box-contents-bottom p{
  display: flex;
  align-items: center;
  gap:0.5rem;
  font-size: 14px;
  font-family: var(--p-font);
  color:#5c5c5c;
  font-weight:500;
}
.landing-pathway-box-contents-bottom span{
  width:max-content;
  height:max-content;
  padding:10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--trafy-blue);
  border-radius: 8px;
  font-size:14px;
  font-family:var(--p-font);
  color:var(--h-white);
  font-weight:500;
}
.landing-pathway-box-contents-bottom span:hover{
  background-color: #2034c5;
}
@media only  screen and (max-width:1201px){
  .landing-pathway-container{
    gap: 3.5rem;
  }
  .landing-pathway-contents {
    grid-template-rows: repeat(1, minmax(150px, 350px));
  }
}
@media only screen and (max-width: 1024px) {
  .landing-pathway{
    padding: 60px 0px;
  }
  .landing-pathway-heading{
    gap: 1rem;
  }
  .landing-pathway-heading h2 {
    font-size: 36px;
  }
  .landing-pathway-heading p{
    font-size: 18px;
  }
  .pathway-image-wrapper img{
    width: 75%;
  }
  .landing-pathway-contents{
    gap:2rem;
    grid-template-rows: repeat(1, minmax(150px, 320px));
  }
  .landing-pathway-box {
    padding: 40px 24px;
  }
  .landing-pathway-box h3{
    font-size: 24px;
  }
  .landing-pathway-box p{
    font-size: 14px;
  }
  .landing-pathway-box-contents img{
    height: 20px;
  }
}

@media only screen and (max-width: 820px) {
  .landing-pathway-heading p{
    width: 85%;
  }
  .landing-pathway-contents {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(150px, 320px));
  }
  
}
@media only screen and (max-width: 600px){
  .landing-pathway-container {
    gap: 3rem;
}
  .landing-pathway-heading h2 {
    font-size: 32px;
}
.landing-pathway-heading p {
  font-size: 16px;
}
.landing-pathway-heading p {
  width: 100%;
}
.landing-pathway-contents {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(150px, 300px));
  gap: 1.5rem;
}
.landing-pathway-box {
  padding: 32px 24px;
}
.pathway-image-wrapper {
  width: 48px;
  height: 48px;
}
.landing-pathway-box h3 {
  font-size: 20px;
}
}
@media only screen and (max-width: 540px){
  .landing-pathway-contents {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, minmax(150px, 250px));
  }
}
@media only screen and (max-width: 400px) {
  .landing-pathway{
    padding: 50px 0px;
  }
  .landing-pathway-container {
    gap: 2.5rem;
}
  .landing-pathway-heading h2 {
    font-size: 28px;
}
 
}


/* -----------------------------------------------Landing masterclass---------------------------------- */

.landing-masterclass{
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-masterclass-container {
  width: 85%;
  display: flex;
  border:1px solid var(--box-border);
  padding:64px 40px;
  border-radius:24px;
  justify-content: center;
}
.landing-masterclass-heading{
  width:35%;
  display:flex;
  flex-direction: column;
  gap:0.5rem;
  justify-content: space-between;
}
.landing-masterclass-heading h4{
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 500;
  color: var(--h-black); 
  line-height:140%;
}
.landing-masterclass-heading h2{
  width: 90%;
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black); 
  line-height:140%;
}
.landing-masterclass-heading p{
  font-size: 16px;
  font-family: var(--p-font);
  color: var(--p-black);
  font-weight: 400;
  line-height: 170%;
}
.landing-masterclass-heading span{
  font-size: 16px;
  font-family: var(--p-font);
  color: var(--p-black);
  font-weight: 400;
  line-height: 150%;
  padding: 3px 8px;
  border: 1px solid #B4B4B4;
  border-radius: 8px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.landing-masterclass-img{
  width:60%;
  display:flex;
  justify-content: flex-end;
  padding-right:32px;
  padding-bottom:16px;
}
.landing-masterclass-img img{
  width: 60%;
  height:100%;
}
@media only screen and (max-width: 1290px) {
  .landing-masterclass-img{
    padding-right: 0;
  }
  .landing-masterclass-img img {
    width: 85%;
    height: 100%;
  
}
}
@media only screen and (max-width: 1024px) {
  .landing-masterclass{
    padding: 60px 0px;
  }
  .landing-masterclass-container{
    gap:3rem;
    align-items: center;
  }
  .landing-masterclass-heading{
    width:100%;
    gap:1rem;
  }
  .landing-masterclass-heading h2{
    font-size:36px;
  }
  .landing-masterclass-img img{
    width:100%;
    height: max-content;
  }
  .landing-masterclass-img {
    width: 80%;
  }
}
@media only screen and (max-width: 750px) {
  .landing-masterclass-container{
    flex-direction: column;
    padding: 56px 40px;
    gap:5rem;
  }
  .landing-masterclass-img {
    width: 60%;
}
}
@media only screen and (max-width: 600px) {
  .landing-masterclass-container {
    padding: 40px 32px;
  }
  .landing-masterclass-heading h2 {
    width: 100%;
    font-size: 32px;
  }
  .landing-masterclass-img {
    width: 80%;
}
}
@media only screen and (max-width: 400px) {
  .landing-masterclass{
    padding: 50px 0px;
  }
  .landing-masterclass-container {
    padding: 32px 24px;
    gap:2.5rem;
  }
  .landing-masterclass-heading h4, .landing-masterclass-heading span{
    font-size: 13px;
  }
  .landing-masterclass-heading h2 {
    width: 100%;
    font-size:28px;
  }
  .landing-masterclass-img {
    width: 100%;
}
}
/* --------------------------------------------------Landing Accordion--------------------------------- */


.landing-innovation {
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-innovation-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.landing-innovation-heading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}
.landing-innovation-heading h4{
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 500;
  color: var(--h-black); 
  line-height:140%;
}
.landing-innovation-heading h2{
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black); 
  line-height:140%;
}
.landing-innovation-contents{
  display: flex;
  gap: 2rem;
}
.landing-innovation-box-left{
  width: 70%;
  padding: 56px 32px;
  border: 1px solid #D5D0D0;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  background: rgb(108,125,247);
background: linear-gradient(148deg, rgba(108,125,247,1) 51%, rgba(235,100,244,1) 100%);

}
.landing-innovation-box-left h3{
  width: 85%;
  font-size: 32px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-white);
  line-height: 150%;
}
.landing-innovation-box-right{
  width: 30%;
  padding: 56px 32px;
  padding-top:48px;
  padding-left: 16px;
  border: 1px solid #D5D0D0;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  background-color: #E7EAFF; 
}
.landing-innovation-box-right .image{
  width:80px;
  height:80px;
}
.landing-innovation-box-right-contents{
  display:flex;
  flex-direction: column;
  gap:1.5rem;
}
.landing-innovation-box-right h3{
  font-size: 32px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-black);
  line-height: 150%;
  margin-left:16px;

}
.landing-innovation-box-right p{
  font-size: 16px;
  font-family: var(--p-font);
  color: var(--p-black);
  font-weight: 400;
  line-height: 150%;
  padding: 3px 8px;
  border: 1px solid #B4B4B4;
  border-radius: 8px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left:16px;
}

@media only screen and (max-width:1201px){
  .landing-innovation-box-left, .landing-innovation-box-right{
    gap:3rem;
  }
  .landing-innovation-box-right{
    width:40%;
  }
  .landing-innovation-box-left h3{
    width:100%;
  }
}
@media only screen and (max-width:1024px){
  .landing-innovation{
    padding: 60px 0px;
  }
  .landing-innovation-heading h2{
    font-size: 36px;
  }
  .landing-innovation-box-left h3, .landing-innovation-box-right h3  {
    font-size: 28px;
}
}
@media only screen and (max-width:800px){
  .landing-innovation-contents{
    flex-direction: column;
  }
  .landing-innovation-box-left, .landing-innovation-box-right{
    width:100%;
    gap:3rem;
  }
}
@media only screen and (max-width:600px){
  .landing-innovation-heading h2{
    font-size: 32px;
  }
  .landing-innovation-box-left{
    padding: 40px 32px;
  }
  .landing-innovation-box-right{
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .landing-innovation-box-left h3, .landing-innovation-box-right h3 {
    font-size: 24px;
}
}
@media only screen and (max-width:400px){
  .landing-innovation-contents{
    gap:1.5rem;
  }
  .landing-innovation-container{
    gap:2rem;
  }
  .landing-innovation-heading h4{
    font-size:13px;
  }
  .landing-innovation-heading h2{
    font-size: 28px;
  }
}
/* --------------------------------------------------review section----------------------------------------- */

.landing-review {
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-review-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.landing-review-top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.landing-review-top h2 {
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black);
  text-align: center;
}
.landing-review-bottom-container {
  padding: 4px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  /* white-space: nowrap; */
  gap: 2.5rem;
  overflow-x: hidden;
}
.landing-review-bottom {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  animation: 32s carousel infinite linear;
}
.landing-review-bottom-container:hover .landing-review-bottom {
  animation-play-state: paused;
}
.landing-review-card {
  padding: 24px;
  width: 260px;
  height: 290px;
  border: 1px solid var(--box-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.landing-reviews {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.landing-reviews p {
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
}
.landing-review-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.landing-review-name p {
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 500;
  color: var(--p-black);
  line-height: 150%;
}
.landing-review-name a {
  font-size: 12px;
  font-family: var(--p-font);
  font-weight: 400;
  color: #5022c3;
  line-height: 150%;
  display: flex;
  align-items: center;
}

.landing-review-navigation-right {
  position: absolute;
  right: 0;
}
.landing-review-navigation-left {
  position: absolute;
  left: 0;
}
.slide-button {
  padding: 6px 8px;
  border-radius: 100%;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.indicator-container {
  display: none;
}
.landing-review-card {
  transition: transform 0.5s ease;
}

.slide-next {
  transform: translateX(-100%);
}

.slide-prev {
  transform: translateX(100%);
}
@media only screen and (max-width: 1024px) {
  .landing-review {
    padding: 60px 0px;
  }
}
@media only screen and (max-width: 1000px) {
  .indicator-container {
    display: flex;
  }
}

.indicator-dot {
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator-dot.active {
  background-color: #b5b2b9;
}
@keyframes carousel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1200px) {
  .landing-review-bottom {
    gap: 2rem;
  }
  .landing-review-card {
    padding: 24px;
    /* width: 260px;
        height: 340px; */
  }
}
@media only screen and (max-width: 1024px) {
  .landing-review-container {
    width: 90%;
    gap: 3rem;
  }
  .landing-review-top h2 {
    font-size: 36px;
  }
  .landing-review-bottom {
    gap: 1.5rem;
  }
  .landing-reviews p,
  .landing-review-name p {
    font-size: 16px;
  }
  .landing-review-card {
    padding: 16px;
    width: 230px;
    height: 290px;
  }
}
@media only screen and (max-width: 600px) {
  /* .landing-review{
        padding: 40px 0px;
    } */
   
  .landing-review-top h2 {
    font-size: 32px;
  }
  .landing-review-navigation-right,
  .landing-review-navigation-left {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .landing-review {
    padding: 50px 0px;
  }
  .landing-review-container {
    gap: 2rem;
  }
  .landing-review-top h2 {
    font-size: 28px;
  }
  .landing-review-bottom-container {
    /* overflow:visible; */
  }
}

/* ------------------------------------------------Landing Ai------------------------------------ */

.landing-bento{
  padding-top:60px;
  display: flex;
  flex-direction: column;
  gap:3rem;
  justify-content: center;
  align-items:center;
  background-color: var(--trafy-white);
}
.landing-bento-heading{
  width:60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.landing-bento-heading h2{
  width:60%;
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black); 
  line-height:140%;
  text-align: center;
}
.landing-bento-heading p{
  width:60%;
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black); 
  line-height:150%;
  text-align: center;
}
.landing-bento-container{
  width:85%;
  display: flex;
  gap:1.5rem;
}
.landing-ai-container {
  width: 60%;
  padding: 65px 56px;
    display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #F8F1F6;
  border-radius: 8px;
  justify-content: center;
}
.landing-ai-left h2 {
  font-size: 28px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black); 
  line-height:140%;
}
.landing-ai-right{
  display:flex;
  flex-direction: column;
  gap:1.5rem;
}
.landing-ai-right p{
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height:150%;
}
.landing-ai-right input{
  width:100%;
  height:40px;
  padding:10px 16px;
  border: 1px solid #acaaaa;
  border-radius: 8px;
  background-color: inherit;
  font-size:14px;
  font-family: var(--p-font);
}
.landing-ai-right button {
  width:max-content;
  height: max-content;
  padding: 10px 16px;
  border: 1px solid var(--h-black);
  border-radius: 8px;
  background-color: var(--h-black);
  font-size: 14px;
  font-family: var(--p-font);
  font-weight: 500;
  color: var(--h-white);
}
.landing-ai-container button:hover {
  background-color: inherit;
  color:  var(--h-black);
}
.landing-features-container {
  width: 50%;
  padding: 65px 56px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #f1f1f8;
  border-radius: 8px;
  justify-content: center;
}
.landing-features-heading h2 {
  font-size: 28px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black); 
  line-height:140%;
}
.landing-features-contents{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:1rem;
}
.landing-features-box{
  display:flex;
  flex-direction: column;
  gap:0.5rem;
}
.landing-features-box h3{
  font-size:24px;
  font-weight: 600;
  font-family: var(--h-font);
  color:var(--h-black);
}
.landing-features-box p{
  font-size:14px;
  font-weight: 400;
  font-family: var(--p-font);
  color:var(--p-black);
}
@media only screen and (max-width:1201px){
  .landing-ai-container, .landing-features-container{
    padding:56px 48px;
  }
  .landing-ai-right{
    gap:1rem;
  }
  .landing-features-container{
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 1024px) {
  .landing-bento{
    padding-top:10px;
  }
  .landing-bento-container{
    width:90%;
  }
  .landing-bento-heading{
    width:90%;
  }
  .landing-ai-container {
    width: 50%;
  }
  .landing-features-container {
    width: 50%;
  }
  .landing-features-contents{
    gap:2rem;
  }
}
@media only screen and (max-width: 800px){
  .landing-bento-container{
    flex-direction: column;
  }
  .landing-ai-container, .landing-features-container{
    width: 100%;
    padding: 48px 32px;
  }
  .landing-features-contents{
    gap:2rem;
  }
  .landing-features-heading h2{
    font-size:28px;
  }
}

@media only screen and (max-width: 600px) {
  .landing-bento{
    padding-top: 20px;
  }
  .landing-ai-container{
    flex-direction: column;
    gap:1rem;
    padding: 40px 32px;
  }
  .landing-ai-left h2,.landing-features-heading h2{
    font-size:24px;
  }
  .landing-bento-heading h2{
    font-size: 32px;
    width:90%;
  }
  .landing-bento-heading p{
    font-size: 16px;
    width:90%;
  }
}
@media only screen and (max-width: 400px) {
  .landing-bento{
    padding-top: 20px;
    gap:2rem;
  }
  .landing-bento-heading h2{
    font-size: 28px;
    width:100%;
  }
  .landing-bento-heading p{
    font-size: 16px;
    width:100%;
  }
  .landing-ai-container, .landing-features-container{
    padding:32px
  }
  .landing-ai-left h2{
    font-size:24px;
}
.landing-features-box h3{
  font-size: 22px;
}
}


/* ----------------------------------------Landing Better----------------------------------- */
.landing-better{
  padding: 20px 0px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background-color: var(--trafy-white);
}
.landing-better-container{
  width:85%;
  display: flex;
  gap:2.5rem;
  padding: 56px 48px;
  background-color: #F1F8F2;
  border-radius: 8px;
}
.landing-better-left{
  width: 100%;
  display:flex;
  flex-direction: column;
  gap:0.5rem;
}
.landing-better-left h2{
  font-size: 28px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-black);
}
.landing-better-left p{
  width:80%;
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height:150%;
}
.landing-better-right{
  width: 100%;
  padding-top:18px;
  display:grid;
  grid-template-columns: repeat(3,135px);
  grid-template-rows: repeat(3,max-content);
  gap: 1.5rem;
  align-items:center;
  justify-content: center;
}
.landing-better-image-b img{
  width:80%;
  height:max-content;
}
@media only screen and (max-width:1201px){
.landing-better-right{
  width: 100%;
  padding-top:18px;
  display:grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,max-content);
  gap: 1.5rem;
  align-items:center;
}
}

@media only screen and (max-width:1024px){
  .landing-better{
    padding-bottom: 100px;
  }
  .landing-better-container{
    width:90%;
  }
}
@media only screen and (max-width:900px){
  .landing-better-container{
    flex-direction: column;
    gap:0.5rem;
  } 
  .landing-better-left p,.landing-better-left h2{
    width: 100%;
  }
  .landing-better-right{
    width: 100%;
    padding-top:18px;
    display:grid;
    grid-template-columns: repeat(3,135px);
    grid-template-rows: repeat(3,max-content);
    gap: 1.5rem;
    justify-content: start;
  }
  .landing-better-image-b img{
    width: 70%;
  }
}
@media only screen and (max-width:600px){
  .landing-better{
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .landing-better-container{
    gap:1rem;
    padding: 48px 32px;
  }
  .landing-better-left h2{
    font-size: 24px;
  }
  .landing-better-left p{
    font-size: 16px;
  }
  .landing-better-right{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
   gap:1rem;
   
  }
  
}
@media only screen and (max-width:400px){
  .landing-better{
    padding-top:20px;
    padding-bottom: 50px;
  }
  .landing-better-container{
    padding: 32px;
    gap: 0rem;;
  }
  .landing-better-left{
    gap:1rem;
  }
  .landing-better-left h2{
    font-size:24px;
  }
  .landing-better-image-b img{
    width:90%;
    height: max-content;
  }
}