.landing-hero-section{
    padding-top: 220px;
    padding-bottom: 160px;
    display: flex;
    justify-content: center;
    background-color:var(--trafy-black);
}
.landing-hero-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.landing-hero-heading, .landing-hero-paragraph{
    display: flex;
    justify-content: center;
}
.landing-hero-heading h1{
    font-size: 66px;
    font-family: var( --h-font);
    font-weight: 600;
    color: var(--h-white);
    text-align: center;
    line-height: 110%;
}
.landing-hero-paragraph p{
    font-size: 20px;
    font-family: var( --p-font);
    font-weight: 400;
    line-height: 150%;
    color: var(--p-white);
    text-align: center;
    width: 40rem;
}
.landing-hero-explore-btn{
    margin-top:6px;
    padding: 16px 40px;
    background-color: inherit;
    border:2px solid var(--p-white);
    border-radius: 8px;
    color:var(--h-white);
    font-family: var(--h-font);
    font-weight: 500;
    font-size: 18px;
    opacity: 1;
    transition: 0.4s;
}
.landing-hero-explore-btn:hover{
    background-color: var(--h-white);
    color: var(--h-black)
}


@media only screen and (max-width:1024px){
    .landing-hero-section {
        padding-top: 140px;
        padding-bottom: 80px;
    }
    .landing-hero-container{
        gap:1.5rem;
    }
    .landing-hero-paragraph p{
        font-size: 18px;
        width: 30rem;
    }
    .landing-hero-heading h1{
        font-size: 56px;
    }
    .landing-hero-explore-btn,.landing-hero-explore-btn:hover{
        font-size: 16px;
    }
}
@media only screen and (max-width:600px){
    .landing-hero-container{
        gap: 1rem;
    }
    .landing-hero-section {
        padding-top: 120px;
        padding-bottom: 80px;
    }
    .landing-hero-paragraph p{
        font-size: 18px;
        width: 100%;
    }
    .landing-hero-heading h1{
        font-size: 40px;
        width: 100%;
    }
    .landing-hero-explore-btn{
        text-align: center;
    }
}
@media only screen and (max-width:400px){
    .landing-hero-section {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    .landing-hero-heading h1{
        font-size: 32px;
    }
    .landing-hero-paragraph p{
        font-size: 16px;
    }
    .landing-hero-explore-btn {
        padding: 12px 32px;
        margin-top: 6px;
    }
}

/* -----------------------------------------------------Partners Section---------------------------------------- */

.landing-partners{
    padding: 60px 0px;
    padding-top:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16161D;
    overflow-x: hidden;
}
.landing-partners-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.landing-partners-heading p{
    font-size: 20px;
    font-family: var(--p-font);
    font-weight: 400;
    line-height: 150%;
    color: var(--p-white);
    text-align: center;
}

.landing-partners-logo-container{
    /* width: 90%; */
    display: flex;
    overflow: hidden;
    padding-top: 24px;
    white-space: nowrap;
  }
  .landing-partners-logo{
    display: flex;
    animation: 25s slide infinite linear;
  }
  .landing-partners-logo img {
    margin: 0px 24px;
}
  @keyframes slide {
    from{
      transform:translateX(0);
    }
    
    to{
      transform:translateX(-100%);
    }
    }

@media only screen and (max-width:1024px){
    .landing-partners{
        padding: 60px 0px;
    }
    .landing-partners-heading p{
        font-size: 18px;
    }
}
@media only screen and (max-width:600px){
    .landing-partners-container{
        width: 90%;
        gap:1.5rem;
    }
    .landing-partners-logo img {
        margin: 0px 16px;
    }
}
@media only screen and (max-width:400px){
    .landing-partners {
        padding: 50px 0px;
    }
    .landing-partners-container {
        gap: 0.2rem;
    }
    .landing-partners-heading p {
        font-size: 16px;
    }
}
  
/* ----------------------------------------------------Features section----------------------------------------------- */
.landing-features{
    padding: 50px 0px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#16161D;
}
.landing-features-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:3rem;
}
.landing-features-contents{
    display: grid;
    grid-template-columns: repeat(4,200px);
    justify-content: center;
}
.landing-features-contents-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    border-radius: 8px;
    align-items:center;
}
.landing-features-value p{
    font-size: 24px;
    font-weight: 700;
    color: #ba9ffb;
    font-family: var(--p-font);
}
.landing-features-key p{
    font-size: 24px;
    font-weight: 500;
    color: var(--h-white);
    font-family: var(--p-font);
}
.landing-features-description p{
    font-size: 20px;
    font-family: var(--p-font);
    font-weight: 400;
    line-height: 150%;
    color: var(--p-white);
    text-align: center;
}

.landing-review-card {
    transition: transform 0.5s ease;
}

.slide-next {
    transform: translateX(-100%);
}

.slide-prev {
    transform: translateX(100%);
}


@media only screen and (max-width:1024px){
    .landing-features{
        padding-top: 10px;
        padding-bottom: 60px;
    }
    .landing-features-container{
        width: 85%;
        gap:1.5rem;
    }
    .landing-features-contents{
        grid-template-columns: repeat(4, 160px);
    }
    .landing-features-contents-container{
        gap: 0.2rem;
    }
    .landing-features-description p{
        font-size: 18px;
    }
    .landing-features-value p, .landing-features-key p{
        font-size: 22px;
    }
}
@media only screen and (max-width:790px){
    .landing-features-container{
        align-items: center;
        gap:2.5rem;
    }
    .landing-features-contents {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 160px);
        gap: 1.5rem;
    }
    
}
@media only screen and (max-width:600px){
    .landing-features-container{
        width: 90%;
        justify-content: center;
        align-items: center;
        gap:1.5rem;
    }
    .landing-features-contents{
        width: 100%;
        gap: 1.5rem;;
    }
}
@media only screen and (max-width:400px){
    .landing-features{
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .landing-features-contents {
        grid-template-columns: repeat(2, 135px);
    }
    .landing-features-contents{
        flex-direction: column;
    }
    .landing-features-value p, .landing-features-key p{
        font-size: 18px;
    }
    .landing-features-description p{
        font-size: 16px;
    }
}


/* ----------------------------------------------------------Pathway section----------------------------------------- */


.landing-pathway{
    padding: 80px 0px;
    padding-bottom:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--trafy-black);
}
.landing-pathway-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:4rem;
}
.landing-pathway-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.landing-pathway-heading h2{
    font-size: 40px;
    font-family: var( --h-font);
    font-weight: 600;
    color: var(--h-white);
    text-align: center;
}
.landing-pathway-heading p{
    font-size: 18px;
    font-family: var( --p-font);
    text-align: center;
    font-weight: 400;
    color: #575656;
    background-color: #F9F9F9;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #B0B0B0;
}
.landing-pathway-contents{
    display: flex;
    flex-wrap:wrap;
    gap:3.5rem;
    justify-content: center;
}
.landing-pathway-contents-mobile{
    display: none;
}
.landing-pathway-box{
    width:300px;
    border: 1px solid #B0B0B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--trafy-white);
}
.landing-pathway-box-contents{
    padding:38px 36px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2.5rem;
}
.image-wrapper {
    border-radius: 7px;
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .image-wrapper img{
    width: 70%;
    height: max-content;
  }

.landing-pathway-box h3{
    font-size: 24px;
    font-family: var(--p-font);
    text-align: center;
    color: var(--h-black);
    font-weight: 500;
}
.landing-pathway-box p{
    font-size: 14px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 400;
    text-align: center;
}
 
  .landing-pathway-box-contents {
    padding: 28px 16px;
  }


  @media only screen and (max-width:1024px){
    .landing-pathway{
        padding-bottom: 70px;
        padding-top:55px
    }
    .landing-pathway-container{
        width: 90%;
        gap:2.5rem;
    }
    .landing-pathway-heading h2{
        font-size: 40px;
    }
    .landing-pathway-contents{
        grid-template-columns: repeat(2, auto);   
        gap:1.5rem;
    }
    .landing-pathway-box h3{
        font-size: 24px;
    }
  }
  
  @media only screen and (max-width:600px){
    .landing-pathway-container{
        gap:3rem;
    }
    .landing-pathway-box-contents {
        padding: 16px 8px;
    }
    .landing-pathway-heading h2{
        font-size: 32px;
    }
    .landing-pathway-heading p{
        font-size: 16px;
    }
    .landing-pathway-contents{
        grid-template-columns: repeat(6,minmax(240px,340px)); 
        grid-template-rows: repeat(1, auto); 
        gap:2rem;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 
      }
      .landing-pathway-box h3 {
        font-size: 20px;
    }
    .landing-pathway-box-contents {
        gap: 2rem;
    }
   
  }
  @media only screen and (max-width:400px){
    .landing-pathway{
        padding: 50px 0px;
    }
    .landing-pathway-container{
        gap: 2rem;
    }
    .landing-pathway-heading{
        gap: 1rem;
    }
    .landing-pathway-heading h2{
        font-size: 28px;
    }
    .landing-pathway-heading p{
        font-size: 14px;
    }
    .landing-pathway-box h3 {
        font-size: 20px;
    }
    .landing-pathway-contents-mobile{
        display: flex;
        flex-direction: column;
        gap:2rem;
    }
    /* .landing-pathway-contents{
        display: none;
    } */
    .landing-pathway-contents {
        gap: 1rem;
    }
    .image-wrapper {
        padding: 16px 0px;
    }
    .landing-pathway-label-container {
        display: flex;
        gap: 0.7rem;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
    .landing-pathway-label-container::-webkit-scrollbar {
        display: none;  /* Chrome, Safari, and Opera */
    }
    .landing-pathway-label{
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 400;
        font-family: var(--p-font);
        color: var(--h-black);
        border: 1px solid #b0b0b0;
        border-radius: 24px;
    }
    .landing-pathway-label.active {
        /* font-weight: 500;  */
        background-color: #bebebe;/* Example style */
      }
  }
/* -----------------------------------------------------Goals section----------------------------------------------- */
.landing-goals {
    padding: 80px 0px;
    padding-top:75px;
    display: flex;
    justify-content: center;
    background-color: #16161D;
}
.landing-goals-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap:4rem;
    justify-content: space-between;
}
.landing-goals-heading{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
}
.landing-goals-heading h2{
    font-size: 40px;
    font-family: var( --h-font);
    font-weight: 600;
    color: var(--h-white);
    text-align: center;
}
.landing-goals-heading p{
    font-size: 20px;
    font-family: var( --p-font);
    font-weight: 400;
    color: var(--p-white);
    text-align: center;
    width: 65%;
    line-height: 140%;
}
.landing-goals-contents{
    display: grid;
    gap:4rem;
    grid-template-columns: repeat(2,35%);
    justify-content: center;
}
.landing-goals-box{
    border: 1px solid #2a2929;
    border-radius: 8px;
    background-color: var(--trafy-black);
    display: flex;
    flex-direction: column;
}
.landing-goals-box h3{
    padding: 16px;
    font-size: 22px;
    font-family: var( --h-font);
    font-weight: 500;
    color: var(--h-white);
    text-align: center;
    border-bottom: 1px solid #2a2929;
}
.landing-goals-box-contents{
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.landing-goals-box-points{
    display: flex;
    gap:1rem;
}
.landing-goals-box-points p{
    font-size: 18px;
    font-family: var( --p-font);
    font-weight: 400;
    color: var(--p-white);
    line-height: 150%;
}
@media only screen and (max-width: 1024px){
    .landing-goals{
        padding: 70px 0px;
        padding-top:50px;
    }
    .landing-goals-container{
        width: 90%;
    }
    .landing-goals-heading h2{
        font-size: 40px;
    }
    .landing-goals-heading p{
        font-size: 18px;
        width: 80%;
    }
    .landing-goals-contents{
        gap: 2.5rem;
        grid-template-columns: repeat(2, 45%);
    }
    .landing-goals-box h3{
        font-size: 20px;
    }
    .landing-goals-box p{
        font-size: 16px;
    }
    .landing-goals-box img{
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 600px)
{
    .landing-goals-container{
        gap: 2rem;
    }
    .landing-goals-heading h2{
        font-size: 32px;
    }
    .landing-goals-heading p{
        width: 100%;
    }
    .landing-goals-contents{
        grid-template-columns: repeat(1, 100%);
    }
    .landing-goals-box-contents{
        padding: 32px;
    }
}
@media only screen and (max-width: 400px){
    .landing-goals{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .landing-goals-container{
        gap:2rem;
    }
    .landing-goals-heading{
        gap: 1.5rem;
    }
    .landing-goals-heading h2{
        font-size: 28px;
    }
    .landing-goals-heading p{
        font-size: 16px;
    }
    .landing-goals-contents{
        gap:1.5rem;
    }
    .landing-goals-box h3{
        font-size: 18px;
    }
    .landing-goals-box-contents{
        padding: 24px;
        gap: 1rem;
    }
    .landing-goals-box p{
        font-size: 15px;
    }
   
}
/* ----------------------------------------Landing Tools------------------------------------------------------------- */

.landing-tools{
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    background-color: var(--trafy-black);
}
.landing-tools-container{
    width: 60%;
    padding:56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    border:1px solid #2a2929;
    border-radius:8px;
}
.landing-tools-heading h2{
    font-size: 40px;
    font-family: var( --h-font);
    font-weight: 600;
    color: var(--h-white);
    line-height: 120%;
    text-align:center;
}
.landing-tools-content{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3.5rem;
}
.Icon1,.Icon2,.Icon3{
    height:60px;
    width:100%;
}
.Icon4{
    height:88px;
    width:100%;
}
@media only screen and (max-width:1024px){
    .landing-tools-container{
        width:85%;
    }
    .landing-tools{
        padding:70px 0px;
    }
}
@media only screen and (max-width:600px){
    .landing-review{
        padding:60px 0px;
        padding-top: 30px;
    }
    .landing-tools-container{
        width:90%;
        gap:2.5rem;
        padding:40px;
    }
    .landing-tools-content{
        gap:2.5rem;
    }
    .landing-tools-heading h2{
        font-size: 32px;
    }
    .Icon1,.Icon2,.Icon3{
    height:48px
}
.Icon4{
    height:60px;
}
}
@media only screen and (max-width:400px){
    .landing-tools{
        padding:50px 0px;
    }
    .landing-tools-container {
        gap: 2.5rem;
        padding: 32px;
    }
    .landing-tools-heading h2{
        font-size:28px;
    }
    .landing-tools-content {
        gap: 1.5rem;
    }
    .Icon1, .Icon2, .Icon3 {
        height: 32px;
    }
    .Icon4 {
        height: 48px;
    }
}
/* ---------------------------------------Innovation section----------------------------------------------------- */

.landing-innovation {
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    background-color: var(--trafy-black);
}
.landing-innovation-container {
    width: 85%;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.landing-innovation-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}
.landing-innovation-left h2{
    font-size: 40px;
    font-family: var( --h-font);
    font-weight: 600;
    color: var(--h-white);
    line-height: 120%;
}
.landing-innovation-left span{
    font-size: 18px;
    font-family: var(--p-font);
    text-align: center;
    font-weight: 400;
    color: #575656;
    background-color: #F9F9F9;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #B0B0B0;
}
.landing-innovation-left p{
    font-size: 20px;
    font-family: var( --p-font);
    font-weight: 400;
    color: var(--p-white);
    line-height: 140%;
}
.landing-innovation-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.landing-innovation-right-container{
    width: 80%;
    height: 100%;
    border: 1px solid #b0b0b0;
    background-color: #ffffff;
    border-radius: 8px;
}
.landing-innovation-right-contents{
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
}
.landing-innovation-right-contents h3{
    font-size: 24px;
    font-family: var( --p-font);
    font-weight: 500;
    color: var(--h-black);
    text-align: center;
}
.landing-innovation-right-contents button{
    padding: 12px 32px;
    background-color: var(--trafy-black);
    border: 2px solid var(--trafy-black);
    border-radius: 8px;
    color: #ffffff;
    font-family: var(--h-font);
    font-weight: 500;
    font-size: 18px;
    opacity: 1;
    transition: 0.3s;
}
.landing-innovation-right-contents button:hover{
    background-color: inherit;
    color: var(--h-black)
}

@media only screen and (max-width:1024px){
    .landing-innovation{
        padding: 60px 0px;
    }
    .landing-explore{
        padding: 60px 0px;
    }
    .landing-innovation-container{
        width: 90%;
    }
    .landing-innovation-left h2{
        font-size: 40px;
    }
    .landing-innovation-left p{
        font-size: 18px;
    }
    .landing-innovation-right-container{
        width: 100%;
    }
    .landing-innovation-right-contents h3{
        font-size: 24px;
    }
   
}
@media only screen and (max-width:750px){
    .landing-innovation-container{
        flex-direction: column;
    }
    .landing-innovation-right,.landing-innovation-left{
        width: 100%;
    }
    .landing-innovation-right{
        justify-content: center;
    }
    .landing-innovation-left{
        align-items: center;
    }
    .landing-innovation-left h2, .landing-innovation-left span, .landing-innovation-left p{
        text-align: center;
    }
    .landing-innovation-right-container{
        width: 80%;
    }
}
@media only screen and (max-width:600px){
    .landing-innovation-left h2{
        font-size: 32px;
    }
    .landing-innovation-left span{
        font-size: 16px;
    }
    .landing-innovation-right-container{
        width: 100%;
    }
    .landing-innovation-right-contents button{
        font-size: 16px;
    }
    
}
@media only screen and (max-width:400px){
    /* .landing-innovation{
        padding-top: 50px;
        padding-bottom: 20px;
    } */
    .landing-innovation-left h2{
        font-size: 28px;
    }
    .landing-innovation-left span{
        font-size: 14px;
    }
    .landing-innovation-left p{
        font-size: 16px;
    }
    .landing-innovation-left{
        gap: 1rem;
    }
    .landing-innovation-container{
        gap:2rem;
    }
    .landing-innovation-right-contents h3{
        font-size: 20px;
    }
    .landing-innovation-right-contents button {
        padding: 10px 28px;
    }
}
/* ---------------------------------------Case Study section------------------------------- */

.landing-casestudy {
    padding: 90px 0px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--trafy-black);
}
.landing-casestudy-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap:2.5rem;
}
.landing-casestudy-heading h2{
    font-size: 40px;
    font-family: var( --h-font);
    font-weight: 600;
    color: var(--h-white);
}
.landing-casestudy-contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:3rem;
}
.landing-casestudy-box{
    border: 1px solid #b0b0b0;
    background-color: #ffffff;
    border-radius: 8px;
}
.casestudy-image-warper{
    width: 100%;
    height: 250px;
    min-height: 60px;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.landing-casestudy-box-contents{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    padding: 24px;
    align-items: center;
    justify-content: center;
}
.landing-casestudy-box-contents p{
    font-size: 18px;
    font-family: var( --p-font);
    font-weight: 400;
    color: var(--p-black);
    text-align: center;
}
.landing-casestudy-box-contents h3{
    font-size: 24px;
    font-family: var( --p-font);
    font-weight: 500;
    color: var(--h-black);
    text-align: center;

}
.landing-casestudy-box-contents span{
    font-size: 14px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 400;
    text-align: center;
    text-align: center;

}

@media only screen and (max-width:1024px){
    .landing-casestudy{
        padding: 60px 0px;
    }
    .landing-optimised{
        padding: 60px 0px;
        padding-top: 30px;
    }
    .landing-casestudy-container {
        width: 90%;
    }
    .landing-casestudy-heading h2{
        font-size: 40px;
    }
    .landing-casestudy-contents {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .landing-casestudy-box-contents p{
        font-size: 16px;
    }
    .landing-casestudy-box-contents h3{
        font-size: 20px;
    }
    
}
@media only screen and (max-width:600px){
    .landing-casestudy{
        padding: 40px 0px;
        padding-top: 20px;
    }
    .landing-casestudy-heading h2{
        font-size: 32px;
    }
    .landing-casestudy-contents{
        gap:1.5rem;
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media only screen and (max-width:400px){
    /* .landing-casestudy {
        padding: 40px 0px;
        padding-top: 30px;
    } */
    .landing-casestudy-heading h2{
        font-size: 28px;
    }
    .landing-casestudy-container{
        gap: 2rem;
    }
}
/* --------------------------------------------------review section----------------------------------------- */

.landing-review {
    padding: 80px 0px;
    padding-top:30px;
    display: flex;
    justify-content: center;
    background-color: var(--trafy-black);
    
}
.landing-review-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
}
.landing-review-top{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.landing-review-top h2 {
    font-size: 40px;
    font-family: var(--h-font);
    font-weight: 600;
    color: var(--h-white);
    text-align: center;
}
.landing-review-bottom-container{
    padding: 4px 0px;
    display: flex;
     justify-content: center;
    width: 100%;
    align-items: center;
    /* white-space: nowrap; */
    gap:2.5rem;
    overflow-x: hidden;
}
.landing-review-bottom{
    display: flex;
    gap:2.5rem;
    align-items: center;
    animation: 32s carousel infinite linear;
}
.landing-review-bottom-container:hover .landing-review-bottom{
    animation-play-state:paused;
}
.landing-review-card {
    padding: 24px;
    width: 230px;
    height: 260px;
    border: 1px solid #d1d1d1;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.landing-reviews{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.landing-reviews p{
    font-size: 14px;
    font-family: var( --p-font);
    font-weight: 400;
    color: var(--h-white);
    line-height: 150%;
}
.landing-review-name{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.landing-review-name p {
    font-size: 14px;
    font-family:var( --p-font);
    font-weight: 500;
    color: var(--h-white);
    line-height: 150%;
}
.landing-review-name a{
    font-size: 12px;
    font-family: var( --p-font);
    font-weight: 400;
    color: #5022C3;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.landing-review-navigation-right{
    position:absolute;
    right: 0;
}
.landing-review-navigation-left{
    position: absolute;
    left: 0;
}
.slide-button{
    padding: 6px 8px;
    border-radius: 100%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicator-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.indicator-container{
    display: none;
}
@media only screen and (max-width:1024px){
    .landing-review{
        padding: 70px 0px;
        padding-top:20px;
    }
}
@media only screen and (max-width:1000px){
    .indicator-container{
        display: flex;
    }
}

.indicator-dot {
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator-dot.active {
    background-color: #b5b2b9;
}
@keyframes carousel {
    from{
      transform:translateX(0);
    }
    
    to{
      transform:translateX(-100%);
    }
    }

@media only screen and (max-width:1200px){
    .landing-review-bottom{
        gap:2rem;
    }
    .landing-review-card {
        padding: 24px;
        /* width: 260px;
        height: 340px; */
    }
}
@media only screen and (max-width:1024px){
    .landing-review-container {
        width: 90%;
        gap:3rem;
    }
    .landing-review-top h2{
        font-size: 40px;
    }
    .landing-review-bottom {
        gap: 1.5rem;
    }
    .landing-reviews p, .landing-review-name p{
        font-size: 16px;
    }
    .landing-review-card{
        padding: 16px;
        width: 230px;
        height: 290px;
    }
}
@media only screen and (max-width:600px){
    /* .landing-review{
        padding: 40px 0px;
    } */
    .landing-review-top h2 {
        font-size: 32px;
    }
    .landing-review-navigation-right,.landing-review-navigation-left{
       display: none;
    }
}
@media only screen and (max-width:400px){
    .landing-review{
        padding:50px;
        padding-top:10px;
    }
    .landing-review-container{
        gap:2rem;
    }
    .landing-review-top h2 {
        font-size: 28px;
    }
    .landing-review-bottom-container{
        overflow:visible;
    }
}

/* ------------------------------------------------Landing Ai------------------------------------ */

.landing-ai {
    padding: 90px 0px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    background-color: var(--trafy-black);
}
.landing-ai-container{
    width: 65%;
    padding: 70px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    background-color: #5E43F3;
    border-radius:8px;
}
.landing-ai-container h2{
    font-size: 40px;
    font-family: var( --h-font);
    font-weight: 600;
    color: var(--h-white);
    width:60%;
}
.landing-ai-container button{
    height:max-content;
    padding:12px 24px;
    border:2px solid var(--h-white);
    border-radius:8px;
    background-color:inherit;
    font-size: 16px;
    font-family: var(--p-font);
    font-weight:500;
    color:var(--h-white);
}
.landing-ai-container button:hover{
    background-color: var(--h-white);
    color:inherit;
}

@media only screen and (max-width:1024px){
    .landing-ai{
        padding-top: 20px;
        padding-bottom: 70px;
    }
    .landing-ai-container{
        width: 85%;
    }
}
@media only screen and (max-width:730px){
    .landing-ai-container{
        flex-direction: column;
        padding:32px;
    }
    .landing-ai-container h2{
        text-align: center;
        width:100%;
    }
}
@media only screen and (max-width:600px){
    .landing-ai-container{
        width:90%;
    }
    .landing-ai-container h2{
        font-size:32px;
        text-align: center;
        width:100%;
    }
}
@media only screen and (max-width:400px){
    .landing-ai{
        padding:50px 0px;
        padding-top:10px;
    }
    .landing-ai-container{
        gap:1.5rem;
        padding:24px;
    }
    .landing-ai-container h2{
        font-size:28px;
    }
    .landing-ai-container button{
        padding:10px 24px;
    }
}