.service-hero {
  padding-top: 160px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.service-hero-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.service-hero-heading {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.service-hero-heading h1 {
  font-size: 64px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-black);
  text-align: center;
  line-height: 120%;
}
.service-hero-heading p {
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  text-align: center;
  line-height: 150%;
}
.service-hero-form {
  width: 60%;
}
.service-hero-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.service-hero-form form input {
  width: 400px;
  padding: 12px 24px;
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  border: 1px solid #b1b1b1;
  border-radius: 8px;
}
.service-hero-form form button {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 500;
  color: var(--h-white);
  border: 1px solid rgb(110, 93, 247);
  border-radius: 8px;
  background: rgb(110, 93, 247);
  background: linear-gradient(
    90deg,
    rgba(110, 93, 247, 1) 0%,
    rgba(95, 63, 236, 1) 100%
  );
}
.service-hero-form form button:hover {
  background: inherit;
  color: rgb(75, 58, 202);
}
.service-hero-form form p {
  font-size: 13px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  text-align: center;
  line-height: 150%;
}

@media only screen and (max-width: 1024px) {
  .service-hero-container {
    width: 90%;
  }
  .service-hero-heading {
    width: 90%;
  }
  .service-hero-heading h1 {
    font-size: 56px;
  }
}
@media only screen and (max-width: 600px) {
  .service-hero {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .service-hero-container {
    gap: 2rem;
  }
  .service-hero-heading {
    width: 100%;
    gap: 1rem;
  }
  .service-hero-heading h1 {
    font-size: 48px;
  }
  .service-hero-heading p {
    font-size: 16px;
  }
  .service-hero-form {
    width: 100%;
  }
  .service-hero-form form input,
  .service-hero-form form button {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .service-hero-container {
    gap: 1.5rem;
  }
  .service-hero-heading h1 {
    font-size: 36px;
  }
}

/* ---------------------------------------------Service Grow Section--------------------------------- */
.accordion-icon {
  transition: transform 0.3s ease;
  transform: rotate(270deg);
}

.rotated {
  transform: rotate(360deg);
}

.service-grow {
  padding: 90px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.service-grow-container {
  width: 85%;
  display: flex;
  gap: 3.5rem;
}
.service-grow-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.service-grow-left h2 {
  width: 90%;
  font-size: 56px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-black);
  line-height: 130%;
}
.service-grow-left p {
  width: 80%;
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
}
.service-grow-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.service-grow-accordion {
  width: 100%;
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  gap: 1rem;
  background-color: #edf0ff;
  border-radius: 8px;
}
.service-grow-accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-grow-accordion-title h3 {
  font-size: 20px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-black);
}
.service-grow-accordion-contents p {
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
}

@media only screen and (max-width: 1024px) {
  .service-grow-container {
    width: 90%;
    gap: 2.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .service-grow-container {
    flex-direction: column;
  }
  .service-grow-left,
  .service-grow-right {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .service-grow-container {
    gap: 2rem;
  }
  .service-grow-left {
    gap: 1rem;
  }
  .service-grow-left h2 {
    font-size: 32px;
  }
  .service-grow-left p {
    font-size: 16px;
    width: 100%;
  }
  .service-grow-accordion-title h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 400px) {
  .service-grow-left h2 {
    font-size: 28px;
  }
}
/* --------------------------------------Service Solution---------------------------------- */

.service-solution {
  padding: 90px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.service-solution-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.service-solution-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
.service-solution-heading h2 {
  width:80%;
  font-size: 48px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-black);
  line-height: 120%;
  text-align: center;
}
.service-solution-heading p {
  width:70%;
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
  text-align: center;

}
.service-solution-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 2.5rem;
}
.service-solution-box {
  /* width: 100%;
  height: 350px; */

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 24px;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  flex:1;
  aspect-ratio: 1 / 1;
}
.service-solution-box img{
  height:48px;
  width:48px
}
.service-solution-box-contents{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.service-solution-box-contents h3 {
  font-size: 20px;
  font-family: var(--p-font);
  font-weight: 500;
  color: var(--h-black);
}
.service-solution-box-contents p {
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
}
@media only screen and (max-width: 1200px){
  .service-solution-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1024px) {
  .service-solution-container {
    width: 90%;
  }
  .service-solution-heading {
    gap: 1rem;
  }
  .service-solution-content {
    gap: 1.5rem;
  }
  .service-solution-heading h2{
    font-size: 40px;
  }
  .service-solution-box{
    padding:16px;
  }
 
}
@media only screen and (max-width: 900px) {
  .service-solution-container{
    align-items:center;
  }
  .service-solution-content{
    width:80%;
  }
  .service-solution-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 720px) {
  .service-solution-content{
    width:100%;
  }
}
@media only screen and (max-width: 600px) {
  .service-solution-container{
    gap:2.5rem;
  }
  .service-solution-content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}
.service-solution-heading h2{
  font-size:36px;
  width:100%;
}
.service-solution-heading p{
  width:100%;
  font-size:16px;

}
.service-solution-box{
 aspect-ratio:0;
 gap:1rem;
}
.service-solution-box-contents{
  gap:0.6rem;
}
}
@media only screen and (max-width: 400px) {
  .service-solution-container{
    gap:2rem;
  }
  .service-solution-heading h2{
    font-size:30px;
    width:100%;
  }
 
}
/* ------------------------------------------Service Startup------------------------------- */

.service-startup {
  padding: 90px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--trafy-black);
}
.service-startup-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 4rem;
}
.service-startup-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items:center;
}
.service-startup-heading h2 {
  width:60%;
  font-size: 48px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-white);
  line-height: 120%;
  text-align: center;
}
.service-startup-heading p {
  width:60%;
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-white);
  line-height: 150%;
  text-align: center;
}
.service-startup-contents {
  width: 100%;
  display: flex;
  gap:4rem;
  justify-content: center;
}
.service-startup-box{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
}
.service-startup-box p{
  font-size: 24px;
  font-family: var(--h-font);
  font-weight: 600;
  color: var(--h-white);
}
/* ------------------------------------------Service PartnerShip----------------------------- */

.service-partnership {
  padding: 90px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.service-partnership-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}
.service-partnership-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.service-partnership-heading h2 {
  font-size: 24px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--p-black);
  line-height: 130%;
  text-align: center;
}
.service-partnership-contents {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  row-gap: 2rem;
}
.service-partnership-contents img {
  height: 28px;
  width:100%;
}
@media only screen and (max-width:1024px){
  .service-partnership-container{
    gap:2.5rem;
    width:90%;
  }
  .service-partnership-contents{
    gap:2.5rem;
    row-gap:1.5rem;
  }
}
@media only screen and (max-width:600px){
  .service-partnership-contents img{
    height:20px;
  }
  .service-partnership-contents {
    gap: 2rem;
    row-gap: 1rem;
}
}
/* -------------------------------------------Service Build------------------------------- */

.service-build {
  padding: 90px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.service-build-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 40px;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
}
.service-build-heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.service-build-heading h2 {
  font-size: 40px;
  font-family: var(--h-font);
  font-weight: 500;
  color: var(--h-black);
  line-height: 120%;
}
.service-build-heading p {
  font-size: 18px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  line-height: 150%;
}
.service-build-form {
  display: flex;
  gap: 1rem;
}
.service-build-form input {
  width: 100%;
  padding: 12px 24px;
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 400;
  color: var(--p-black);
  border: 1px solid #b1b1b1;
  border-radius: 8px;
}
.service-build-form button {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 16px;
  font-family: var(--p-font);
  font-weight: 500;
  color: var(--h-white);
  border: 1px solid rgb(110, 93, 247);
  border-radius: 8px;
  background: rgb(110, 93, 247);
  background: linear-gradient(
    90deg,
    rgba(110, 93, 247, 1) 0%,
    rgba(95, 63, 236, 1) 100%
  );
}
.service-buils-form button:hover {
  background: inherit;
  color: rgb(75, 58, 202);
}

@media only screen and (max-width: 1024px) {
  .service-build-container {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .service-build-container {
    gap: 2.5rem;
  }
  .service-build-heading {
    gap: 0.8rem;
  }
  .service-build-heading h2 {
    font-size: 32px;
  }
  .service-build-heading p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .service-build-container {
    padding: 32px;
  }
  .service-build-container {
    gap: 2rem;
  }
  .service-build-heading h2 {
    font-size: 28px;
  }
  .service-build-form {
    gap: 0.5rem;
    flex-direction: column;
  }
}
