.user-profile{
    padding-top: 100px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f8f8ff;
}
.user-profile-container{
    width:70%;
    display: flex;
    gap:2rem;
}
.user-dashboard{
    padding: 24px 0px;
    width: 250px;
    background-color: #f8f8ff;
    border: 1px solid #8f8989;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.user-picture{
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-name h2{
    padding: 8px 24px; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #121212;
}
.user-pic{
    border-radius: 100%;
    border: 1px solid;
    width: 80px;
    height: 80px;
    background-color: black;
}
.user-profile-contents h3{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #121212;
}
.profile, .security, .notification, .privacy, .log-out{
    padding: 8px 24px;
}
.active{
    background-color: #4d4d4d;
    color:#f8f8ff;
}