.forgot-password-p{
    padding:120px 0px 60px 0px ;
    display: flex;
    justify-content: center;
}
.forgot-password-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-forgot-password{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.5rem;
}

.forgot-password-heading h1{ 
    font-family: var(--h-font);
    font-weight: 600;
    font-size: 28px;
    color: var(--landing-heading-clr);  
}
.Email-p{
    width: 100%;
}
.email-holder-p{
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border: 1px solid #c1bfbf;
    border-radius: 8px;
    background-color:var(--landing-bg);
 }
 .email-holder-p:focus{
     outline-style: none;
 }

 .reset-btn{
    width: max-content;

    padding: 8px 16px;
    color: var(#f8f8ff);
    background-color: var(--landing-bg);
    border: 2px solid var(--landing-heading-clr);
    border-radius: 8px;
    font-size: 16px;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}
.reset-btn:hover{
    color: var(--h-text-b-clr);
    background-color: var(--h-text-w-clr);
}